<% @blogs.each do |blog| %>
    <h3 style="text-align:center;"><a href="/blogs/<%= blog.id %>"><%= blog.brewery %>, <%= blog.title %></a></h3>
<% end %><br> 

<p style="font-family:Comic Sans MS;"><strong>Welcome, <%= @user.name %></strong></p>

