<h2><%= @blog.title %></h2>
<p><%= @blog.body %></p>
<a href="/blogs/<%= @blog.id %>/edit">Edit Blog</a> 

<form action="/blogs/<%= @blog.id %>" method="post">
  	<input type="hidden" name="_method" value="delete" />
  
  	<input type="submit" value="Delete">
  </form>