<h1 style="font-family:Comic Sans MS;text-align:center;">Welcome Beer Lovers!</h1> 


<style>
body {background-color: red;}
h1   {color: blue;}
p    {color: black;}
</style>


<h2 style="font-family:Comic Sans MS;text-align:center;">Beer is proof that God loves us and wants us to be happy. - Benjamin Franklin</h2>
<p style="text-align:center;">This is a paragraph.</p>

</body>