<h1 style="font-family:Comic Sans MS;text-align:center;">Welcome Beer Lovers!</h1> 

<h3 style="font-family:Comic Sans MS;text-align:center;">Beer is proof that God loves us and wants us to be happy. - Benjamin Franklin</h3>

<p style="text-align:center;">
We all been there where we want to try every beer in the world and every brewery
but to much to keep track, Well No worries here's a Beer Log Web! To keep track 
of all your logs for you. Just Signup!  
</p>
 

<style>
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: aqua;
}
</style>